{% extends "/templates/default_no_banner.twig" %}

{#TO VIEW INFO PASSED TO THE VIEW#}
{#{{ signupErrors | json_encode }}#}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Sign In</h1>
		</div>
	</div>
	<!-- /.row -->
	
	<!----------------breadCrumbs---------------->
	{% include 'templates/partials/breadcrumbs.twig' %}
	<!----------------/breadcrumbs---------------->

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">Sign In</div>
				<div class="panel-body">
					{#{{ signupErrors | json_encode }}#}
					<form action="{{ path_for('auth.signin') }}" method="post" name="signup-form">
						<div class="form-group{{ formErrors.identification ? ' has-error' : '' }}">
							<label for="identification">Username Or Email</label>
							<input type="text" name="identification" id="identification" placeholder="Username / Email" class="form-control">
						</div>
						{% if formErrors.identification %}
							<span class="help-block">{{ formErrors.identification | first }}</span>
						{% endif %}
						<div class="form-group{{ formErrors.password ? ' has-error' : '' }}">
							<label for="password">Password</label>
							<input type="password" name="password" id="password" placeholder="Password" class="form-control">
						</div>
						{% if formErrors.password %}
							<span class="help-block">{{ formErrors.password | first }}</span>
						{% endif %}
						<button type="submit" class="btn btn-primary">Sign In</button>
						
						{#SET THIS UP IN THE CSRFVIEWMIDDLEWARE SECTION FOR THE KEY#}
						{{ csrf.field | raw }}
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}