{% extends "templates/default.twig" %}

{% block content %}
	{#{{ auth.userInfo | json_encode }}#}
<div class="container">
	<!-- Service Panels -->
	<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
	<div class="row">
		<div class="col-lg-12" style="background-color: #000000">
			<div style="background-color: #000000" align="center"><img src="{{ base_url() }}/images/logo/service-logo-.png" alt="service-logo"></div>
			<h2 style="margin-bottom: 50px;" align="center">OUR SERVICES</h2>
		</div>
		<div class="col-md-3 col-sm-6">
			<div align="center">
				<img src="{{ base_url() }}/images/icons/icon-design.png" alt="service_design">
			</div>
			<div class="text-center">
				<h4 class="text_color">DESIGN</h4>
				<p style="min-height: 110px;">We offer print and website design work.</p>
			</div>
			<div align="center"><a href="{{ path_for('service') }}" class="btn enquire_btn btn-sm"><span style="color: #0078ff;">{</span> enquire today <span style="color: #0078ff;">}</span></a></div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div align="center">
				<img src="{{ base_url() }}/images/icons/icon-dev.png" alt="service_webdev">
			</div>
			<div class="text-center">
				<h4 class="text_color">WEBSITES</h4>
				<p style="min-height: 110px;">Need a new website. Just give us a call and we will do it with ice cold precision</p>
			</div>
			<div align="center"><a href="{{ path_for('service') }}" class="btn enquire_btn btn-sm"><span style="color: #0078ff;">{</span> enquire today <span style="color: #0078ff;">}</span></a></div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div align="center">
				<img src="{{ base_url() }}/images/icons/icon-hosting.png" alt="service_hosting">
			</div>
			<div class="text-center">
				<h4 class="text_color">HOSTING</h4>
				<p style="min-height: 110px;">Need a place to store your new website or even move from another hosting company. Check out our hosting options just for you.</p>
			</div>
			<div align="center"><a href="{{ path_for('service') }}" class="btn enquire_btn btn-sm"><span style="color: #0078ff;">{</span> enquire today <span style="color: #0078ff;">}</span></a></div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div align="center">
				<img src="{{ base_url() }}/images/icons/icon-seo.png" alt="service_seo">
			</div>
			<div class="text-center">
				<h4 class="text_color">SEO</h4>
				<p style="min-height: 110px;">Want to be on googles top 10 search results. We can get you there. We will inspect your current site and provide you with a specialised solution just for you.</p>
			</div>
			<div align="center"><a href="{{ path_for('service') }}" class="btn enquire_btn btn-sm"><span style="color: #0078ff;">{</span> enquire today <span style="color: #0078ff;">}</span></a></div>
		</div>
	</div>
</div>
<div style="margin-bottom: 80px"></div>
<div class="container-fluid home-about">
	<div class="row">
		<div class="col-md-12" style="padding-top: 2.5%;">
			<div class="container">
				<div align="center"><img src="{{ base_url() }}/images/logo/service-logo-.png" alt="service-logo"></div>
				<h2 style="margin-bottom: 50px;" align="center">ABOUT US</h2>
				<p>Frostweb is an independent collection of skilled developers, designers, SEO specialists that have come together to meet your needs. If you need a website or maybe print work or maybe you have these but want to reach the top of the google page Frostweb will do it for you with ice cold precision. We do not make use of CMS systems like most companies today, we are 100% original from the ground up thinkers and looking forward to assisting you in the world of the web, print, design or SEO.</p>
				<div style="margin-bottom: 10.1%;"></div>
			</div>
		</div>
		<img style="width: 100%; height: auto; bottom: auto;" src="{{ base_url() }}/images/divider/ice-divider.png" alt="divider">
	</div>
</div>
<div class="container">
	<!-- Service Panels -->
	<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
	<div class="row">
		<div class="col-lg-12" style="background-color: #000000">
			<div style="background-color: #000000" align="center"><img src="{{ base_url() }}/images/logo/service-logo-.png" alt="service-logo"></div>
			<h2 style="margin-bottom: 50px;" align="center">DOMAINS</h2>
			<p style="text-align: center">Hosting payable in advance only yearly amounts accepted. I.e. full years<br> hosting + domain costs.</p>
			<p>&nbsp;</p>
		</div>
		<div class="col-md-2 col-sm-3">
			<div align="center">
				<div class="home-domains">
					<p><strong>CO.ZA</strong></p>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-3">
			<div align="center">
				<div class="home-domains">
					<p><strong>.COM</strong></p>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-3">
			<div align="center">
				<div class="home-domains">
					<p><strong>.NET</strong></p>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-3">
			<div align="center">
				<div class="home-domains">
					<p><strong>.ORG</strong></p>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-3">
			<div align="center">
				<div class="home-domains">
					<p><strong>.JOBURG</strong></p>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-3">
			<div align="center">
				<div class="home-domains">
					<p><strong>.CAPETOWN</strong></p>
				</div>
			</div>
		</div>
		<p>&nbsp;</p>
	</div>
	
	<div class="row">
		<div class="col-lg-12" style="background-color: #000000">
			<div style="background-color: #000000" align="center"><img src="{{ base_url() }}/images/logo/service-logo-.png" alt="service-logo"></div>
			<h2 style="margin-bottom: 50px;" align="center">HOSTING PLANS</h2>
			<p style="text-align: center">Hosting payable in advance only yearly amounts accepted. I.e. full years<br> hosting + domain costs.</p>
			<p>&nbsp;</p>
		</div>
		
		
		<div class="col-md-1 col-sm-3">
			
		</div>
			<div class="col-md-2 col-sm-3">
				<div align="center">
					<p>&nbsp;</p>
					<div id="hosting" class="home-hosting-cold">
						
					</div>
					<a href="{{ path_for('service') }}" class="btn enquire_btn btn-sm">order now</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-3">
				<div align="center">
					<p>&nbsp;</p>
					<div id="hosting" class="home-hosting-chilly">
						
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-3">
				<div align="center">
					<p>&nbsp;</p>
					<div id="hosting" class="home-hosting-snowy">
						
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-3">
				<div align="center">
					<p>&nbsp;</p>
					<div id="hosting" class="home-hosting-freezing">
						
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-3">
				<div align="center">
					<p>&nbsp;</p>
					<div id="hosting" class="home-hosting-blizzard">
						
					</div>
				</div>
			</div>
			<div class="col-md-1 col-sm-3">
			
			</div>
		</div>
		<p>&nbsp;</p>
</div>
{% endblock %}
