<header id="myCarousel" class="carousel slide">
	<!-- Indicators -->
	{#<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>#}
	
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<div class="fill carousel-one">
				<img src="{{ base_url() }}/images/slide-banner/mac-desktop.png" alt="mac-image">
			</div>
			<div class="carousel-caption">
				<h2>WEB DEVELOPMENT</h2>
			</div>
		</div>
		<div class="item">
			<div class="fill carousel-two">
				<img src="{{ base_url() }}/images/slide-banner/mac-desktop.png" alt="mac-image">
			</div>
			<div class="carousel-caption">
				<h2>WEB DESIGN</h2>
			</div>
		</div>
		<div class="item">
			<div class="fill carousel-three">
				<img src="{{ base_url() }}/images/slide-banner/mac-desktop.png" alt="mac-image">
			</div>
			<div class="carousel-caption">
				<h2>HOSTING</h2>
			</div>
		</div>
		<div class="item">
			<div class="fill carousel-four">
				<img src="{{ base_url() }}/images/slide-banner/mac-desktop.png" alt="mac-image">
			</div>
			<div class="carousel-caption">
				<h2>SEO</h2>
			</div>
		</div>
	</div>
	
	
	<!-- Controls -->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<span class="icon-prev"></span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
		<span class="icon-next"></span>
	</a>

</header>
<div class="container-fluid carousel-inner" style="margin-top: -80px;">
	<div class="row carousel-divider">
		<img class="img-responsive" src="{{ base_url() }}/images/divider/ice-divider.png" alt="divider">
	</div>
</div>