<nav class="navbar navbar-default container navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path_for('home') }}"><img style="width: 70%; height: auto; margin-top: -18px;" src="{{ base_url() }}/images/logo/frostweb-logo.png" alt="frostweb"></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ path_for('home') }}">HOME</a></li>
				<li><a href="{{ path_for('about') }}">ABOUT</a></li>
				<li><a href="{{ path_for('service') }}">SERVICES</a></li>
				{#<li><a href="#">Link</a></li>#}
				{% if auth.checked %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ auth.userInfo.username }}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path_for('auth.profile') }}">{{ auth.userInfo.username }}  Profile</a></li>
							{% if auth.userInfo.fk_admin_type == 1 %}
								<li><a href="#">Admin Panel</a></li>
							{% endif %}
							<li><a href="{{ path_for('auth.logout') }}">Log Out</a></li>
						</ul>
					</li>
				{% else %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">REGISTRATION<span class="caret"></span></a>
						<ul class="dropdown-menu">
							{#<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>#}
							<li><a href="{{ path_for('auth.signup') }}">REGISTER</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="{{ path_for('auth.signin') }}">SIGN IN</a></li>
						</ul>
					</li>
				{% endif %}
				<li><a href="{{ path_for('contact') }}">CONTACT US</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>